@import "../../../styles/variables";

.outlet {
  &__select {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    padding: 2rem 5rem;
    background-color: $color-black;
    color: #fff;
    display: inline-block;
    transition: all 0.3s;

    &:hover {
      transform: scale(0.9);
    }
  }
}
