@import "../../../styles/variables";
@import "../../../styles/mixins";

.side-menu {
  // background-color: $color-asphalt !important;
  background-color: $color-white !important;

  li {
    // color: $color-white !important;
    color: $color-black !important;
  }

  .ant-menu-item-selected {
    background-color: $color-primary !important;
  }
}

.mobile__menu {
  // background-color: $color-asphalt;
  background-color: $color-white;
}
