

.sa-stock-control .stock-transfer-row-date-picker{

    justify-content: flex-start !important;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .date-picker {
      margin-right: 2rem;
    }

}




