.table-frame {
    .ant-table-row-expand-icon {
      display: none;
    }
    .ant-table-row-expand-icon-cell{
      display: none;
    }
}

.products-lookup-count{
  background-color: #337ab7;
  color: #fff;
  padding: 0.2rem;
}

.products-lookup-store{
  background-color: #5cb85c;
  color: #fff;
  padding: 0.2rem;
}
