.sell {
  display: flex;

  .info,
  .checkout {
    padding: 0 2rem;
  }

  .info {
    flex: 1;
  }

  // Checkout
  .checkout {
    flex: 2;

    .header {
      margin-bottom: 2rem;
      button:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .cost {
      &__wrapper {
        display: flex;
      }

      &__left {
        flex: 1;
        padding-right: 2rem;
        border-right: 1px solid #f7f7f7;
      }

      &__right {
        flex: 1;
        padding-left: 2rem;
        border-left: 1px solid #f7f7f7;
      }

      &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__btn {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }


  .add-product-btn{
    margin-top: 3rem;
    width: 100%;
    border: 2px solid #3da446 !important;
    margin-bottom: 3rem;
  }

  
  .mop-btns{
    margin-bottom: 1rem !important;
  }

   /*sell customer table*/
  .sell-customer-select-table {
  width: 100%;
  max-width: 100%;
  }

  .sell-customer-select-table th {
  text-align: left;
  font-size: 0.85em;
  color: #999;
  border-top: none !important;
  }

  .sell-customer-select-table .customer-del-btn-pull-right{
    float: right !important;
    border: none;
    background: transparent;
  }

  .sell-customer-select-table .customer-del-btn-icon{
    color: red;
    width: 2rem;
    height: 2rem;
  }

  /*sell customer table*/




}
