.sell {
  display: flex;

  .info,
  .checkout {
    padding: 0 2rem;
  }

  .info {
    flex: 1;
  }

  // Checkout
  .checkout {
    flex: 2;

    .header {
      margin-bottom: 2rem;
      button:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .cost {
      &__wrapper {
        display: flex;
      }

      &__left {
        flex: 1;
        padding-right: 2rem;
        border-right: 1px solid #f7f7f7;
      }

      &__right {
        flex: 1;
        padding-left: 2rem;
        border-left: 1px solid #f7f7f7;
      }

      &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__btn {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }
}
