.stock-item-content{
    margin-bottom: 1rem;
    color: #555;
}

.label-stock-count{
    background-color: #5cb85c;
    float: right  !important;
    color: white;
    padding: 0.2rem;
}

.stock-receive-details-heading{
    margin-bottom: 2rem;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 4px;
}

.stock-receive-row-heading{
    margin-bottom: 2rem;
}

