
 .loading-container{
    text-align: center;
  }
  
  .products-variants-attribute-key-disabled{
    background: #eee !important;
  }
  .thumbnail {
    display: block;
    padding: 4px;
    width: 200px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }
  
  .inclusive-sale-price-check{
    float: right;
  }
  
  .product-sale-price-margin{
    margin-top: -2rem !important;
  }
  
  .product-btn-edit{
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
  }
  
  .product-delete-sku-highlight{
    color: #a94442 !important;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  